@charset "UTF-8";

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  color: #333333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  border: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cmn-button {
  color: #fff;
  background-color: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: bold;
}

.section {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  position: relative;
}

.section-title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.6) * .5em);
  content: "";
}

.section-title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.6) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .section-title {
    font-size: 3rem;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #3F51B5;
}

@media (max-width: 767px) {
  .section-title::after {
    width: 40px;
    height: 3px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header .header-logo {
    width: 182px;
  }
}

.header .header-logo img {
  display: block;
}

.header .header-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header .header-nav {
    display: none;
  }
}

.header .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-nav .nav-list .nav-item:nth-child(n + 2) {
  margin-left: 40px;
}

.header .header-nav .nav-list .nav-item a {
  color: #fff;
  text-transform: capitalize;
  height: inherit;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .header-nav .nav-list .nav-item a::after {
  content: "";
  position: absolute;
  background: transparent;
  height: 2px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .header-nav .nav-list .nav-item a:hover::after, .header .header-nav .nav-list .nav-item a.is-active::after {
  background: #E81919;
}

/*=================================================================
# drawer
=================================================================*/
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 10000;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font: inherit;
  border: none;
  padding: 0;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-bars .drawer-bar1,
.drawer-bars .drawer-bar2,
.drawer-bars .drawer-bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-bars .drawer-bar1 {
  top: 0;
}

.drawer-bars .drawer-bar2 {
  top: 8px;
}

.drawer-bars .drawer-bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-items .drawer-item {
  border-bottom: 1px dotted #707070;
}

.drawer-items .drawer-item a {
  display: block;
  color: #707070;
  padding: 15px 20px;
  position: relative;
}

.drawer-items .drawer-item a::after {
  content: "";
  position: absolute;
  background: url(../../img/arrow-b.png) no-repeat center center/contain;
  width: 8px;
  height: 11px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.drawer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-bg.is-active {
  display: block;
}

.main {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main {
    margin-top: 60px;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 56px 0 20px;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0 15px;
  }
}

.footer .footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .footer-cont {
    display: block;
  }
}

.footer .footer-left {
  width: 20%;
  margin-top: 4px;
}

@media (max-width: 1247px) {
  .footer .footer-left {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .footer .footer-left {
    width: 100%;
  }
}

.footer .footer-left .footer-logo {
  width: 205px;
}

@media (max-width: 1247px) {
  .footer .footer-left .footer-logo {
    width: 182px;
  }
}

@media (max-width: 767px) {
  .footer .footer-left .footer-logo {
    margin: 0 auto;
    width: 182px;
  }
}

.footer .footer-left .footer-logo img {
  display: block;
}

.footer .footer-left .footer-info {
  color: #fff;
  font-size: 14px;
  margin-top: 28px;
}

@media (max-width: 767px) {
  .footer .footer-left .footer-info {
    text-align: center;
  }
}

.footer .footer-left .footer-info .footer-tel {
  margin-top: 6px;
}

.footer .footer-center {
  width: 60%;
}

@media (max-width: 1247px) {
  .footer .footer-center {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .footer .footer-center {
    width: 100%;
    margin-top: 20px;
  }
}

.footer .footer-center .footer-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-center .footer-nav .nav-list .nav-item:nth-child(n + 2) {
  margin-left: 40px;
}

@media (max-width: 1247px) {
  .footer .footer-center .footer-nav .nav-list .nav-item:nth-child(n + 2) {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .footer .footer-center .footer-nav .nav-list .nav-item:nth-child(n + 2) {
    margin-left: 12px;
  }
}

.footer .footer-center .footer-nav .nav-list .nav-item a {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  text-transform: capitalize;
  color: #fff;
}

.footer .footer-center .footer-nav .nav-list .nav-item a:hover {
  opacity: .7;
}

.footer .footer-right {
  width: 20%;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .footer .footer-right {
    width: 100%;
    margin-top: 30px;
  }
}

.footer .footer-right .footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer .footer-right .footer-sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-right .footer-sns .sns-item {
  width: 30px;
}

.footer .footer-right .footer-sns .sns-item:nth-child(n + 2) {
  margin-left: 16px;
}

.footer .footer-right .footer-sns .sns-item a img {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  display: block;
}

.footer .footer-right .footer-sns .sns-item a img:hover {
  opacity: .7;
}

.footer .copyright {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin-top: 38px;
}

.totop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.totop.is-show {
  opacity: 1;
  visibility: visible;
}

.totop a img {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  display: block;
  width: 60px;
}

@media (max-width: 767px) {
  .totop a img {
    width: 35px;
  }
}

.totop a img:hover {
  opacity: .7;
}

.top {
  height: 600px;
  background: url(../../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
}

@media (max-width: 767px) {
  .top {
    height: 450px;
  }
}

.top .top-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .top .top-cont {
    padding: 0 12px;
  }
}

.top .top-title {
  font-size: 6.4rem;
  font-weight: bold;
}

.top .top-title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.6) * .5em);
  content: "";
}

.top .top-title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.6) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .top .top-title {
    font-size: 4rem;
  }
}

.top .top-lead {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
}

.top .top-lead::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.6) * .5em);
  content: "";
}

.top .top-lead::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.6) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .top .top-lead {
    font-size: 2rem;
    margin-top: 20px;
  }
}

.top .top-button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 2.4rem;
  margin: 42px 0 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.top .top-button a:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .top .top-button a {
    width: 250px;
    height: 56px;
    line-height: 56px;
    font-size: 2rem;
  }
}

.card {
  background: #EFEFEF;
}

.card .card-cont {
  margin-top: 94px;
}

@media (max-width: 767px) {
  .card .card-cont {
    margin-top: 60px;
  }
}

.card .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-item {
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card .card-item {
    width: calc(33.333333% - 24px * 2 / 3);
  }
  .card .card-item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card .card-item:nth-child(n + 4) {
    margin-top: 23px;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .card .card-item {
    width: calc(50% - 24px / 2);
  }
  .card .card-item:nth-child(n + 3) {
    margin-top: 24px;
  }
  .card .card-item:nth-child(2n + 2) {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .card .card-item {
    width: 100%;
  }
  .card .card-item:not(:first-child) {
    margin-top: 24px;
  }
}

.card .card-item .card-img img {
  display: block;
}

.card .card-item .card-text {
  margin-top: 16px;
}

.card .card-item .card-text .card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card .card-item .card-text .card-title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.5) * .5em);
  content: "";
}

.card .card-item .card-text .card-title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.5) * .5em);
  content: "";
}

.card .card-item .card-text .card-desc {
  font-weight: bold;
  line-height: 1.5;
  margin-top: 9px;
}

.news .news-cont {
  width: 800px;
  max-width: 100%;
  margin: 94px auto 0;
}

@media (max-width: 767px) {
  .news .news-cont {
    margin-top: 60px;
  }
}

.news .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #707070;
  padding-top: 19px;
  padding-bottom: 13px;
}

@media (max-width: 767px) {
  .news .news-item {
    display: block;
  }
}

.news .news-item:first-child {
  padding-top: 0;
}

.news .news-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.news .news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news .news-info .news-date {
  margin-top: 4px;
  width: 85px;
}

.news .news-info .news-label {
  margin-left: 20px;
}

.news .news-info .news-label a {
  width: 80px;
  border-radius: 4px;
  background: #666666;
  color: #fff;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.news .news-info .news-label a:hover {
  opacity: .7;
}

.news .news-info .news-label a.is-blue {
  background: #3F51B5;
}

.news .news-info .news-label a.is-red {
  background: #E81919;
}

.news .news-text {
  width: calc(100% - 185px);
  margin-left: 20px;
  margin-top: 5px;
  line-height: 1.25;
}

.news .news-text a {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.news .news-text a:hover {
  opacity: .7;
}

@media (max-width: 767px) {
  .news .news-text {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}

.news .more {
  text-align: center;
  margin-top: 57px;
  padding-right: 14px;
}

.news .more a {
  font-weight: bold;
  color: #E81919;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.news .more a::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.news .more a::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.news .more a:hover {
  opacity: .7;
}

.news .more a::after {
  content: "";
  position: absolute;
  background: url(../../img/news-arrow.png) no-repeat center center/contain;
  width: 7px;
  height: 11px;
  top: 60%;
  right: -13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price {
  background: #EFEFEF;
}

.price .price-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
}

@media (max-width: 767px) {
  .price .price-cont {
    margin-top: 30px;
    display: block;
  }
}

.price .price-img {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price .price-img {
    width: 100%;
  }
}

.price .price-img img {
  display: block;
}

.price .price-table {
  width: 58.83333%;
  margin-left: auto;
  overflow-x: auto;
}

@media (max-width: 767px) {
  .price .price-table {
    width: 100%;
    margin-top: 40px;
  }
}

.price .table-price {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #707070;
  border-collapse: collapse;
}

.price .price-row {
  height: 57px;
}

.price .price-row th,
.price .price-row td {
  vertical-align: middle;
  border: 1px solid #707070;
}

.price .price-row th {
  background: #999999;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.price .price-row th:first-child {
  width: 171px;
}

@media (max-width: 1247px) {
  .price .price-row th:first-child {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .price .price-row th:first-child {
    width: 80px;
  }
}

.price .price-row td {
  background: #fff;
  text-align: right;
  font-weight: bold;
  padding-right: 24px;
}

.price .price-row td strong {
  display: block;
  line-height: 1.3;
}

.price .price-row td strong.is-red {
  color: #E81919;
}

.price .price-row td span {
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3;
}

.price .price-text {
  font-size: 14px;
  margin-top: 8px;
}

.price .price-text a {
  text-decoration: underline;
  font-weight: bold;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.price .price-text a:hover {
  opacity: .7;
}

.access .access-cont {
  width: 800px;
  margin: 90px auto 0;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access .access-cont {
    margin-top: 60px;
  }
}

.access .access-map .iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.access .access-map .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access .access-info {
  margin-top: 12px;
}

@media (max-width: 767px) {
  .access .access-info {
    margin-top: 40px;
  }
}

.access .access-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access .access-row:nth-child(2) {
  margin-top: 7px;
}

.access .access-row .access-dt {
  width: 104px;
  font-weight: bold;
}

.access .access-row .access-dd {
  width: calc(100% - 104px);
}

.access .access-button {
  width: 304px;
  margin: 25px auto 0;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access .access-button {
    width: 250px;
    margin-top: 40px;
  }
}

.access .access-button a {
  width: 100%;
  max-width: 100%;
  height: 56px;
  line-height: 56px;
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.access .access-button a:hover {
  opacity: .7;
}

.access .access-button a::after {
  content: "";
  position: absolute;
  background: url(../../img/button-arrow.png) no-repeat center center/contain;
  width: 17px;
  height: 16px;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact {
  background: #EFEFEF;
}

.contact .contact-cont {
  width: 800px;
  margin: 95px auto 0;
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact .contact-cont {
    margin-top: 60px;
  }
}

.contact .contact-form {
  background: #fff;
  padding: 60px 60px 44px;
}

@media (max-width: 767px) {
  .contact .contact-form {
    padding: 30px;
  }
}

.contact .contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact .contact-row {
    display: block;
  }
}

.contact .contact-row:nth-child(n + 2) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact .contact-row:nth-child(n + 2) {
    margin-top: 30px;
  }
}

.contact .contact-label {
  font-weight: bold;
  width: 160px;
  margin-top: 7px;
}

.contact .contact-label.is-required {
  position: relative;
}

.contact .contact-label.is-required::after {
  content: "必須";
  position: absolute;
  width: 44px;
  height: 22px;
  background: #E81919;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.4rem;
  left: 0;
  top: calc(100% - 4px);
}

@media (max-width: 767px) {
  .contact .contact-label.is-required::after {
    left: calc(100% + 10px);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.contact .contact-input {
  width: calc(100% - 160px);
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.53em 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .contact .contact-input {
    width: 100%;
    margin-top: 15px;
  }
}

.contact .contact-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact .contact-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../../img/select-arrow.png) no-repeat center right 12px/17px 14px;
  border: 1px solid #707070;
  border-radius: 0;
  color: #CCCCCC;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.63em 0.8em;
  width: calc(100% - 160px);
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact .contact-select {
    width: 100%;
    margin-top: 15px;
  }
}

.contact option:first-child {
  display: none;
}

.contact .contact-textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  height: 240px;
  padding: 0.5em 1em;
  width: calc(100% - 160px);
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}

@media (max-width: 767px) {
  .contact .contact-textarea {
    width: 100%;
    margin-top: 15px;
    height: 200px;
  }
}

.contact .contact-textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact .contact-radio-wrap {
  margin-top: 29px;
}

.contact .contact-radio-wrap label {
  display: inline-block;
  margin-bottom: 10px;
}

.contact .contact-radio-wrap label:nth-child(n + 2) {
  margin-left: 32px;
}

@media (max-width: 767px) {
  .contact .contact-radio-wrap label:nth-child(n + 2) {
    margin-left: 0;
  }
}

.contact .contact-radio-wrap .contact-radio {
  display: none;
}

.contact .contact-radio-wrap .contact-radio:checked + .contact-radio-part::after {
  opacity: 1;
}

.contact .contact-radio-wrap .contact-radio-part {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1.7em;
  position: relative;
}

@media (max-width: 767px) {
  .contact .contact-radio-wrap .contact-radio-part {
    padding: 0 0 0 1.5em;
  }
}

.contact .contact-radio-wrap .contact-radio-part::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.contact .contact-radio-wrap .contact-radio-part::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 5px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 10px;
}

.contact .contact-checkbox-wrap {
  text-align: center;
  margin-top: 58px;
}

@media (max-width: 767px) {
  .contact .contact-checkbox-wrap {
    margin-top: 35px;
  }
}

.contact .contact-checkbox-wrap .contact-checkbox {
  display: none;
}

.contact .contact-checkbox-wrap .contact-checkbox:checked + .contact-checkbox-part::after {
  opacity: 1;
}

.contact .contact-checkbox-wrap .contact-checkbox-part {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 3em;
  position: relative;
}

@media (max-width: 767px) {
  .contact .contact-checkbox-wrap .contact-checkbox-part {
    font-size: 1.5rem;
    padding: 0 0 0 2.4em;
  }
}

.contact .contact-checkbox-wrap .contact-checkbox-part::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 25px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

.contact .contact-checkbox-wrap .contact-checkbox-part::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  content: "";
  display: block;
  height: 10px;
  left: 3px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 18px;
}

.contact .contact-checkbox-wrap .contact-checkbox-part a {
  text-decoration: underline;
  font-weight: bold;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact .contact-checkbox-wrap .contact-checkbox-part a:hover {
  opacity: .7;
}

.contact .contact-button {
  margin-top: 30px;
  text-align: center;
}

.contact .contact-button .button-submit {
  width: 304px;
  max-width: 100%;
  height: 56px;
  -webkit-appearance: none;
  background-image: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact .contact-button .button-submit:hover {
  opacity: .7;
}

@media (max-width: 767px) {
  .contact .contact-button .button-submit {
    width: 250px;
    max-width: 100%;
  }
}

.contact .contact-button .button-submit::after {
  content: "";
  position: absolute;
  background: url(../../img/button-arrow.png) no-repeat center center/contain;
  width: 17px;
  height: 16px;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
