@charset "UTF-8";
/*=================================================================
# color
=================================================================*/
/*=================================================================
# layer
=================================================================*/
/*=================================================================
# line height
=================================================================*/
/*=================================================================
# line heightCrop(不要な余白の打ち消し)
=================================================================*/
/*=================================================================
# layout width
=================================================================*/
/*=================================================================
# padding space
=================================================================*/
/*=================================================================
# header height
=================================================================*/
/*=================================================================
# font
=================================================================*/
/*=================================================================
# 一部font-familyを変更したい場合に使用して下さい
=================================================================*/
/*=================================================================
# break points
=================================================================*/
/*=================================================================
# tab sp none
=================================================================*/
@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  color: #333333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  border: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cmn-button a {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #3f51b5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-weight: bold;
}

.cmn-section {
  padding: 100px 0 120px;
}

@media (max-width: 767px) {
  .cmn-section {
    padding: 40px 0 80px;
  }
}

.cmn-section.-gray {
  background-color: #EFEFEF;
}

.cmn-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 108px;
}

.cmn-title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.cmn-title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .cmn-title {
    font-size: 4.2rem;
    margin-bottom: 80px;
  }
}

.cmn-title div::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #3f51b5;
  bottom: -12px;
}

.header {
  background-color: #3f51b5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
    padding: 16px 0;
  }
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header .header-logo {
    width: 148px;
  }
}

.header .header-logo img {
  display: block;
}

.header .header-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header .header-nav {
    display: none;
  }
}

.header .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-item {
  position: relative;
}

.header .header-item::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.header .header-item::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.header .header-item + .header-item {
  margin-left: 40px;
}

.header .header-item div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e81919;
  bottom: -10px;
  left: 0;
  opacity: 0;
}

.header .header-item div.is-active::after {
  opacity: 1;
}

.header .header-item a {
  color: #fff;
}

.main {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main {
    margin-top: 60px;
  }
}

.footer {
  padding: 47px 0 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0 24px;
  }
}

.footer .footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer .footer-cont {
    display: block;
  }
}

.footer .footer-info {
  width: 35%;
  padding: 12px 0 0;
}

@media (max-width: 767px) {
  .footer .footer-info {
    width: 100%;
    padding: 0;
  }
}

.footer .footer-logo {
  width: 205px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .footer .footer-logo {
    margin: 0 auto;
  }
}

.footer .footer-logo img {
  display: block;
}

.footer .info-wrap {
  margin-top: 29px;
  color: #fff;
  font-size: 1.4rem;
}

@media (max-width: 767px) {
  .footer .info-wrap {
    text-align: center;
  }
}

.footer .info-wrap p:nth-child(2) {
  margin-top: 4px;
}

.footer .footer-nav {
  width: 50%;
  padding: 8px 9px 0;
}

@media (max-width: 767px) {
  .footer .footer-nav {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
}

.footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-item:nth-child(n + 2) {
  margin-left: 40px;
}

@media (max-width: 1247px) {
  .footer .footer-item:nth-child(n + 2) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .footer .footer-item:nth-child(n + 2) {
    margin-left: 16px;
  }
}

.footer .footer-item a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer .footer-sns {
  width: 20%;
  padding: 12px 0;
}

@media (max-width: 1247px) {
  .footer .footer-sns {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .footer .footer-sns {
    width: 100%;
    margin-top: 24px;
    padding: 0;
  }
}

.footer .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer .sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .sns-item:nth-child(n + 2) {
  margin-left: 16px;
}

.footer .sns-item a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer .sns-item a img {
  width: 30px;
  display: block;
}

.footer .copyright {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 38px;
}

@media (max-width: 767px) {
  .footer .copyright {
    margin-top: 40px;
  }
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 28px;
  z-index: 30;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1247px) {
  .totop {
    right: 16px;
    bottom: 16px;
  }
}

@media (max-width: 767px) {
  .totop {
    right: 12px;
    bottom: 12px;
  }
}

.totop a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.totop img {
  width: 60px;
  display: block;
}

@media (max-width: 767px) {
  .totop img {
    width: 42px;
  }
}

.top {
  height: 600px;
  background: transparent url(../../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .top {
    height: 500px;
  }
}

.top .top-cont {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1247px) {
  .top .top-cont {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .top .top-cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.top .top-title {
  font-size: 6.4rem;
  font-weight: bold;
}

.top .top-title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.top .top-title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 1247px) {
  .top .top-title {
    font-size: 5.6rem;
  }
}

@media (max-width: 767px) {
  .top .top-title {
    font-size: 3.6rem;
  }
}

.top .top-lead {
  margin-top: 25px;
  font-size: 2.4rem;
  font-weight: bold;
}

.top .top-lead::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.top .top-lead::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 1247px) {
  .top .top-lead {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .top .top-lead {
    font-size: 2rem;
  }
}

.top .top-button {
  margin-top: 40px;
}

@media (max-width: 1247px) {
  .top .top-button {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .top .top-button {
    margin-top: 34px;
  }
}

.top .top-button a {
  width: 384px;
  max-width: 100%;
  padding: 24px 0;
  font-size: 2.4rem;
}

.top .top-button a::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.top .top-button a::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .top .top-button a {
    width: 280px;
    padding: 18px 0;
    font-size: 20px;
  }
}

.card .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  background-color: #fff;
  padding: 16px 16px 14px;
}

@media (min-width: 1200px) {
  .card .card-item {
    width: calc(33.333333% - 24px * 2 / 3);
  }
  .card .card-item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card .card-item:nth-child(n + 4) {
    margin-top: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .card .card-item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card .card-item:nth-child(2n) {
    margin-left: 24px;
  }
  .card .card-item:nth-child(n + 3) {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .card .card-item {
    width: 100%;
  }
  .card .card-item:nth-child(n + 2) {
    margin-top: 21px;
  }
}

.card .card-item .text {
  margin-top: 16px;
}

.card .card-item .text .title {
  font-size: 2rem;
  font-weight: bold;
  color: #6F7579;
  line-height: 1.1;
}

.card .card-item .text .desc {
  font-weight: bold;
  color: #6F7579;
  margin-top: 12px;
  line-height: 1.5;
}

.card .card-item .image img {
  display: block;
}

.news .news-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.news .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

@media (max-width: 767px) {
  .news .news-item {
    display: block;
    padding: 12px 0;
  }
}

.news .news-item:first-child {
  padding-top: 0;
}

.news .news-item:last-child {
  padding-bottom: 0;
}

.news .news-item:not(:first-child) {
  border-top: 1px solid #707070;
}

.news .news-item:nth-child(4) .text .title {
  padding-bottom: 8px;
}

.news .news-item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

@media (max-width: 767px) {
  .news .news-item .info {
    width: 100%;
  }
}

.news .news-item .info .date {
  padding-top: 4px;
}

.news .news-item .info .label {
  margin-left: 20px;
}

.news .news-item .info .label a {
  display: inline-block;
  width: 80px;
  font-weight: bold;
  padding: 8px;
  background-color: #666666;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.news .news-item .info .label a::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.news .news-item .info .label a::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.news .news-item .info .label a.-blue {
  background-color: #3f51b5;
}

.news .news-item .info .label a.-red {
  background-color: #e81919;
}

.news .news-item .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .news .news-item .text {
    width: 100%;
  }
}

.news .news-item .text .title {
  line-height: 1.25;
  padding: 11px 0 0 20px;
}

.news .news-item .text .title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.news .news-item .text .title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .news .news-item .text .title {
    padding: 0;
    margin-top: 20px;
  }
}

.news .more {
  text-align: center;
  margin-top: 59px;
}

.news .more::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.news .more::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.news .more a {
  font-weight: bold;
  color: #e81919;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news .more a::after {
  content: "";
  background: transparent url(../../img/news-arrow.svg) no-repeat center center/contain;
  width: 7px;
  height: 11px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -1px;
}

.price .price-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

@media (max-width: 767px) {
  .price .price-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

.price .price-table {
  width: 58.83333%;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .price .price-table {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
}

.price .table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #707070;
  overflow-x: scroll;
}

.price .table .row th,
.price .table .row td {
  border: 1px solid #707070;
  height: 57px;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1.8;
}

.price .table .row th {
  background: #999999;
  color: #fff;
  text-align: center;
}

.price .table .row th:first-child {
  width: 172px;
}

@media (max-width: 1247px) {
  .price .table .row th:first-child {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .price .table .row th:first-child {
    width: 80px;
  }
}

.price .table .row td {
  background: #fff;
  text-align: right;
  padding-right: 24px;
}

.price .table .row td span {
  display: block;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.price .table .row strong {
  line-height: 1;
}

.price .table .row strong.is-red {
  color: #e81919;
}

.price .text {
  font-size: 1.4rem;
  margin-top: 14px;
}

.price .text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.price .text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.price .text a {
  text-decoration: underline;
  font-weight: bold;
}

.price .price-image {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price .price-image {
    width: 100%;
  }
}

.price .price-image img {
  display: block;
}

.access .access-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.access .iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.access .iframe-wrap iframe {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access .info-wrap {
  margin-top: 17px;
}

.access .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access .row + .row {
  margin-top: 16px;
}

.access .row dt::before,
.access .row dd::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.access .row dt::after,
.access .row dd::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

.access .row dt {
  width: 104px;
  font-weight: bold;
}

.access .access-button {
  margin-top: 30px;
  text-align: center;
}

.access .access-button a {
  width: 304px;
  padding: 20px 0;
  display: inline-block;
  line-height: 1;
  max-width: 100%;
  position: relative;
}

.access .access-button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: transparent url(../../img/button-arrow.svg) no-repeat center center/contain;
}

.contact .contact-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.contact .contact-form {
  width: 100%;
  padding: 60px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .contact .contact-form {
    padding: 20px;
  }
}

.contact .contact-form input[type="text"],
.contact .contact-form input[type="email"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact .contact-form textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 240px;
  padding: 0.5em 0.9em;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}

.contact .contact-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../../img/select-arrow.svg) no-repeat center right 12px/17px 14px;
  border: 1px solid #707070;
  border-radius: 0;
  color: #CCCCCC;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.6em 0.8em;
  width: 100%;
}

.contact .contact-form option:first-child {
  display: none;
}

.contact .contact-form button {
  -webkit-appearance: none;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding: 1em 2em;
  text-decoration: none;
  width: 304px;
  max-width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #3f51b5 url(../../img/button-arrow-1.svg) no-repeat center right 12px/17px 14px;
}

.contact .contact-form button:hover, .contact .contact-form button:focus {
  outline: none;
}

.contact .contact-form button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.contact .contact-form input::-webkit-input-placeholder,
.contact .contact-form textarea::-webkit-input-placeholder {
  color: #CCCCCC;
  font-size: 1.4rem;
}

.contact .contact-form input:-moz-placeholder,
.contact .contact-form textarea:-moz-placeholder {
  color: #CCCCCC;
  font-size: 1.4rem;
}

.contact .contact-form input::-moz-placeholder,
.contact .contact-form textarea::-moz-placeholder {
  color: #CCCCCC;
  font-size: 1.4rem;
}

.contact .contact-form input:-ms-input-placeholder textarea:-ms-input-placeholder {
  color: #CCCCCC;
  font-size: 1.4rem;
}

.contact .contact-form input[type="radio"] {
  display: none;
}

.contact .contact-form input[type="radio"] + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 1.7em;
  position: relative;
}

.contact .contact-form input[type="radio"] + span:nth-child(n + 2) {
  margin: 0 2em 0 0;
}

@media (max-width: 767px) {
  .contact .contact-form input[type="radio"] + span:nth-child(n + 2) {
    margin: 0 0.3em 0 0;
  }
}

.contact .contact-form input[type="radio"] + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.contact .contact-form input[type="radio"] + span::after {
  -webkit-transform: translateY(-50%);
  background: #3f51b5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 5px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 10px;
}

.contact .contact-form input[type="radio"]:checked + span::after {
  opacity: 1;
}

.contact .contact-form input[type="checkbox"] {
  display: none;
}

.contact .contact-form input[type="checkbox"] + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

@media (max-width: 767px) {
  .contact .contact-form input[type="checkbox"] + span {
    padding: 0 0 0 35px;
  }
}

.contact .contact-form input[type="checkbox"] + span::before, .contact .contact-form input[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .contact-form input[type="checkbox"] + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

.contact .contact-form input[type="checkbox"] + span::after {
  left: 0;
  background: transparent url(../../img/check.svg) no-repeat center center/contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 25px;
  height: 25px;
  opacity: 0;
  border: 1px solid transparent;
}

.contact .contact-form input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

.contact .contact-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact .contact-form .row {
    display: block;
  }
}

.contact .contact-form .row:nth-child(n + 2) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact .contact-form .row:nth-child(n + 2) {
    margin-top: 30px;
  }
}

.contact .contact-form .row dt {
  width: 160px;
  padding-top: 12px;
}

.contact .contact-form .row dt::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.7) * .5em);
  content: "";
}

.contact .contact-form .row dt::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * .5em);
  content: "";
}

@media (max-width: 767px) {
  .contact .contact-form .row dt {
    width: 100%;
  }
}

.contact .contact-form .row dd {
  width: calc(100% - 160px);
}

@media (max-width: 767px) {
  .contact .contact-form .row dd {
    width: 100%;
    margin-top: 20px;
  }
}

.contact .contact-form .row .contact-label {
  font-weight: bold;
  position: relative;
}

.contact .contact-form .row .contact-label.is-required::after {
  content: "必須";
  position: absolute;
  width: 44px;
  height: 22px;
  background-color: #e81919;
  color: #fff;
  bottom: -30px;
  left: 0;
  line-height: 22px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (max-width: 767px) {
  .contact .contact-form .row .contact-label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: auto;
    margin-left: 5px;
  }
}

.contact .contact-form .contact-footer {
  margin-top: 20px;
}

.contact .contact-form .contact-checkbox {
  text-align: center;
  margin-top: 56px;
}

.contact .contact-form .contact-checkbox span a {
  text-decoration: underline;
  font-weight: bold;
}

.contact .contact-form .button-wrap {
  text-align: center;
  margin-top: 30px;
}
