.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('tab') {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
  }

  @include mq('sp') {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }
}

.cmn-button {
  a {
    display: inline-block;
    text-align: center;
    color: cl(white);
    background-color: cl(blue);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    font-weight: bold;
  }
}

.cmn-section {
  padding: 100px 0 120px;

  @include mq('sp') {
    padding: 40px 0 80px;
  }

  &.-gray {
    background-color: cl(gray);
  }
}

.cmn-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 108px;

  @include lineHeightCrop($leading-normal);

  @include mq('sp') {
    font-size: 4.2rem;
    margin-bottom: 80px;
  }

  div {
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 4px;
      left: 50%;
      transform: translateX(-50%);
      background-color: cl(blue);
      bottom: -12px;
    }
  }
}