.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 56px 0 20px;

  @include mq('sp') {
    padding: 30px 0 15px;
  }

  .footer-cont {
    display: flex;
    justify-content: space-between;

    @include mq('sp') {
      display: block;
    }
  }

  .footer-left {
    width: 20%;
    margin-top: 4px;

    @include mq('tab') {
      width: 25%;
    }

    @include mq('sp') {
      width: 100%;
    }

    .footer-logo {
      width: 205px;

      @include mq('tab') {
        width: 182px;
      }

      @include mq('sp') {
        margin: 0 auto;
        width: 182px;
      }

      img {
        display: block;
      }
    }

    .footer-info {
      color: cl(white);
      font-size: 14px;
      margin-top: 28px;

      @include mq('sp') {
        text-align: center;
      }

      .footer-tel {
        margin-top: 6px;
      }
    }
  }

  .footer-center {
    width: 60%;

    @include mq('tab') {
      width: 50%;
    }

    @include mq('sp') {
      width: 100%;
      margin-top: 20px;
    }

    .footer-nav {

      .nav-list {
        display: flex;
        justify-content: center;

        .nav-item {
          &:nth-child(n + 2) {
            margin-left: 40px;

            @include mq('tab') {
              margin-left: 30px;
            }

            @include mq('sp') {
              margin-left: 12px;
            }
          }

          a {
            transition: all .3s ease 0s;
            text-transform: capitalize;
            color: cl(white);

            &:hover {
              opacity: .7;
            }
          }
        }
      }
    }
  }

  .footer-right {
    width: 20%;
    margin-top: 4px;

    @include mq('sp') {
      width: 100%;
      margin-top: 30px;
    }

    .footer-sns {
      display: flex;
      justify-content: flex-end;

      @include mq('sp') {
        justify-content: center;
      }

      .sns-item {
        width: 30px;

        &:nth-child(n + 2) {
          margin-left: 16px;
        }

        a {
          img {
            transition: all .3s ease 0s;
            &:hover {
              opacity: .7;
            }
            display: block;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 1.4rem;
    color: cl(white);
    text-align: center;
    margin-top: 38px;
  }
}