.header {
  background-color: cl(blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: $header-height-pc;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: index(header);

  @include mq('sp') {
    height: $header-height-sp;
    padding: 16px 0;
  }

  .header-inner {
    display: flex;
    align-items: center;
  }

  .header-logo {
    width: 205px;

    @include mq('sp') {
      width: 148px;
    }

    img {
      display: block;
    }
  }

  .header-nav {
    margin-left: auto;

    @include mq('sp') {
      display: none;
    }
  }

  .header-list {
    display: flex;

  }

  .header-item {
    position: relative;
    @include lineHeightCrop($leading-normal);

    +.header-item {
      margin-left: 40px;
    }

    div {
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: cl(red);
        bottom: -10px;
        left: 0;
        opacity: 0;
      }

      &.is-active {
        &::after {
          opacity: 1;
        }
      }
    }

    a {
      color: cl(white);
    }
  }
}