.totop {
  position: fixed;
  right: 24px;
  bottom: 28px;
  z-index: index(floating);
  visibility: visible;
  transition: all 0.3s ease 0s;

  @include mq('tab') {
    right: 16px;
    bottom: 16px;
  }

  @include mq('sp') {
    right: 12px;
    bottom: 12px;
  }

  a {
    transition: all 0.3s ease 0s;
  }

  img {
    width: 60px;
    display: block;

    @include mq('sp') {
      width: 42px;
    }
  }
}