.access {

  .access-cont {
    width: 800px;
    margin: 90px auto 0;
    max-width: 100%;

    @include mq('sp') {
      margin-top: 60px;
    }
  }

  .access-map {

    .iframe-wrap {
      width: 100%;
      padding-top: 400 / 800 * 100%;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  .access-info {
    margin-top: 12px;
    @include mq('sp') {
      margin-top: 40px;
    }
  }

  .access-row {
    display: flex;

    &:nth-child(2) {
      margin-top: 7px;
    }

    .access-dt {
      width: 104px;
      font-weight: bold;
    }

    .access-dd {
      width: calc(100% - 104px);
    }
  }

  .access-button {
    width: 304px;
    margin: 25px auto 0;
    text-align: center;
    max-width: 100%;
    @include mq('sp') {
      width: 250px;
      margin-top: 40px;
    }

    a {
      width: 100%;
      max-width: 100%;
      height: 56px;
      line-height: 56px;
      display: inline-block;
      position: relative;
      transition: all .3s ease 0s;

      &:hover {
        opacity: .7;
      }

      &::after {
        content: "";
        position: absolute;
        background: url(../../img/button-arrow.png) no-repeat center center /contain;
        width: 17px;
        height: 16px;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
      }
    }
  }
}