.price {

  .price-cont {
    display: flex;
    flex-flow: row-reverse;

    @include mq('sp') {
      flex-flow: column-reverse;
    }
  }

  .price-table {
    width: percentage(706 / 1200);
    margin-left: 40px;

    @include mq('sp') {
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #707070;
    overflow-x: scroll;

    .row {

      th,
      td {
        border: 1px solid #707070;
        height: 57px;
        vertical-align: middle;
        font-weight: bold;
        white-space: nowrap;
        line-height: 1.8;
      }

      th {
        background: #999999;
        color: cl(white);
        text-align: center;

        &:first-child {
          width: 172px;

          @include mq('tab') {
            width: 140px;
          }

          @include mq('sp') {
            width: 80px;
          }
        }
      }

      td {
        background: cl(white);
        text-align: right;
        padding-right: 24px;

        span {
          display: block;
          font-size: 13px;
          color: #333333;
          line-height: 1;
        }
      }

      strong {
        line-height: 1;

        &.is-red {
          color: cl(red);
        }
      }
    }

  }

  .text {
    font-size: 1.4rem;
    @include lineHeightCrop($leading-normal);
    margin-top: 14px;

    a {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .price-image {
    width: percentage(454 / 1200);

    @include mq('sp') {
      width: 100%;
    }

    img {
      display: block;
    }
  }
}